head 
  meta(charset='utf-8')
link(rel='stylesheet',href='css/style.css')
.daybox
  label
    input#switch_night(type='checkbox')
    .top
      .moon
      .cloud
        .rain
        .rain.rain2
        .rain.rain3
      svg.temsvg
        circle(cx=0 cy=50 r=3) 
        text(x=0 y=50) 24°
        circle(cx=70 cy=30 r=3)
        text(x=70 y=30) 25°
        circle(cx=140 cy=70 r=3)
        text(x=140 y=70) 21°
        circle(cx=210 cy=80 r=3)
        text(x=210 y=80) 20°
        circle(cx=280 cy=60 r=3)
        text(x=280 y=60) 22°
        circle(cx=350 cy=50 r=3)
        text(x=350 y=50) 24°
        circle(cx=420 cy=80 r=3)
        text(x=420 y=80) 21°
        circle(cx=540 cy=540 r=3)
        text(x=540 y=540) 

        polyline(points="0,50 70,30 140,70 210,80 280,60 350,50 420,80 540,540")
      .text_area
        .temperature 23°C
        .infos
          .address 新北市板橋區
          .time 星期一 下午7:00
    .bottom
      .dayweather
        h3 MON
        svg(viewbox='-63 -30 100 100')
          line.rain(x1=-25 y1=15 x2=-25 y2=35)
          line.rain(x1=-14 y1=5 x2=-14 y2=25)
          line.rain(x1=-5 y1=20 x2=-5 y2=45)

          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)

      .dayweather
        h3 TUE
        svg(viewbox='-63 -30 100 100')
          line.rain(x1=-25 y1=15 x2=-25 y2=35)
          line.rain(x1=-14 y1=5 x2=-14 y2=25)
          line.rain(x1=-5 y1=20 x2=-5 y2=45)

          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)

      .dayweather
        h3 WED
        svg(viewbox='-63 -30 100 100')
          line.rain(x1=-25 y1=15 x2=-25 y2=35)
          line.rain(x1=-14 y1=5 x2=-14 y2=25)
          line.rain(x1=-5 y1=20 x2=-5 y2=45)

          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)

      .dayweather
        h3 THU
        svg(viewbox='-50 -50 100 100')
          circle.sun(cx=0 cy=0 r=22)
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)
      .dayweather
        h3 FRI
        svg(viewbox='-50 -50 100 100')
          circle.sun(cx=0 cy=0 r=22)
      .dayweather
        h3 SAT
        svg(viewbox='-50 -50 100 100')
          circle.sun(cx=0 cy=0 r=22)
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)
      .dayweather
        h3 SUN
        svg(viewbox='-63 -30 100 100')
          line.rain(x1=-25 y1=15 x2=-25 y2=35)
          line.rain(x1=-14 y1=5 x2=-14 y2=25)
          line.rain(x1=-5 y1=20 x2=-5 y2=45)

          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)

